{% extends 'base.html' %}
{% block content %}

  <p>    Finch Database: FinchCollector allows you to create a personal database of finches that you have observed or encountered. You can easily store essential details such as species name, scientific classification, physical characteristics, habitat preferences, and geographic distribution.

    Sightings Log: Keep track of your finch sightings with the app's built-in log feature. Whenever you spot a finch in the wild, simply log the date, location, and any additional notes or observations. This log serves as a valuable journal of your birdwatching adventures.

    Photo Gallery: Capture the beauty of finches through photographs. FinchCollector enables you to upload and store images of the finches you encounter. With a visually appealing gallery view, you can browse your collection and reminisce about your favorite sightings.

    Edit and Update: Need to make changes or additions to your finch records? FinchCollector allows you to easily edit existing entries or add new finch species to your database. Stay up to date with the latest taxonomy or any personal discoveries.

    Search and Filter: Quickly find specific finch species using the app's search and filter functionality. Sort and browse your collection based on various criteria such as species name, location, or date of observation. This feature makes it convenient to retrieve information on particular finches in an instant.

    Offline Access: Enjoy the flexibility of accessing your finch collection even when you're offline. FinchCollector stores your data locally, ensuring that you can view and manage your finch records regardless of internet connectivity.

    Data Backup and Sync: Never worry about losing your valuable data. FinchCollector offers the option to back up your records securely and sync them across multiple devices. Whether you switch phones or use a tablet and a computer, your finch collection remains accessible and synchronized.</p>


{% endblock %}